<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html5 Boilerplate</title>
    <link rel="stylesheet" href="../dist/css/app.bundle.css">
</head>

<body>

    <div class="flex-wrapper">
        <img src="../dist/images/bar_icon_active.png" alt="icon" />
        <h1 class="title">Modern JavaScript Boilerplate</h1>
    </div>

    <script src="../dist/js/app.bundle.js"></script>
</body>

</html>