.flex-wrapper {
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 36px;

    @include respondScreen(tablet) {
      width: 48px;
    }

    @include respondScreen(laptop) {
      width: 56px;
    }

    @include respondScreen(desktop) {
      width: 72px;
    }
  }

  .title {
    margin-left: 0.25em;
    color: $primary;
    font-size: 1.5rem;
    font-family: $poppins-medium;

    @include respondScreen(tablet) {
      font-size: 2rem;
    }

    @include respondScreen(laptop) {
      font-size: 2.5rem;
    }

    @include respondScreen(desktop) {
      font-size: 3rem;
    }
  }
}