// Colors
$primary: #47c85e;

// Font Family
$poppins-bold: "poppins-bold";
$poppins-semibold: "poppins-semibold";
$poppins-medium: "poppins-medium";
$poppins-regular: "poppins-regular";
$poppins-light: "poppins-light";
$poppins-thin: "poppins-thin";
